In [1]:
#!pip3 install mysql-connector-python pandas # installs both libraries in the default environment to use in JN

#import mysql.connector
#import pandas as pd

import sys
print(sys.executable)
!which python

import sys
!{sys.executable} -m pip install mysql-connector-python pandas
import mysql.connector
import pandas as pd

/opt/anaconda3/bin/python
python not found
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.0.0)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### Why It Worked
When you run !pip install mysql-connector-python pandas, Jupyter might be using a different Python environment than the one where your Jupyter notebook kernel is running. This can happen if you have multiple Python installations or environments on your machine.

By using !{sys.executable} -m pip install mysql-connector-python pandas, you are ensuring that the pip command is executed in the same environment as your Jupyter notebook kernel. This guarantees that the installed packages are available to the interpreter that is running the notebook.

### Summary
sys.executable: Ensures the command uses the correct Python interpreter.
-m pip install: Uses the pip module with the specified interpreter.
!{}: Runs the command in the shell from within the notebook.

In [33]:
def create_connection():
    connection = mysql.connector.connect(host="localhost", user="root", password="#Diamond2004", database="rentroll") # we specify database name so that we can directly refer to a table and retrieve data from it
    return connection
    
def show_databases():
    mydb = create_connection()
    mycursor = mydb.cursor() # like a mouse cursor will point to a particular place
    mycursor.execute("show databases") # executed means the object is creater, but need to do next instruction to retrieve and display
    for dbs in mycursor:
        print(dbs)
    mydb.close()

def show_data():
    mydb = create_connection()
    cursor = mydb.cursor()
    cursor.execute("SELECT * FROM rent_logs;")
    rows = cursor.fetchall()
    for r in rows:
        print(r)
    cursor.close()
    mydb.close()

def create_table():
    mydb = create_connection()
    cursor = mydb.cursor() # to store the cursor of mydb that is returned
    create_table_query = """
    CREATE TABLE rent_logs (
        month INT,
        first_name VARCHAR(50),
        last_name VARCHAR(50),
        amount_paid DECIMAL(8,2)
    )
    """
    cursor.execute(create_table_query)
    mydb.commit()
    cursor.close() 
    mydb.close()

def add_rent_log(month, first_name, last_name, amount_paid):
    mydb = create_connection()
    cursor = mydb.cursor()
    insert_row_query = """
    INSERT INTO rent_logs (month, first_name, last_name, amount_paid)
    VALUES(%s, %s, %s, %s);
    """
    cursor.execute(insert_row_query, (month, first_name, last_name, amount_paid))
    mydb.commit()
    cursor.close()
    mydb.close()

def run_rent_roll_manager():
    print("Welcome to the BI Properties rent roll manager!\nWhat would you like to do today?")
    while True:
        x = input("""\t--> Enter 'V' to view rent roll\n\t--> Enter 'Q' to quit session\n\t--> Enter '+' to add rent log\n""")
        try: 
            assert x == "V" or x == "v" or x == "Q" or x == "q" or x == "+"
        except AssertionError:
            print("Sorry, the value %s isn't recognized" % x)
            continue
        if x == 'Q' or x == 'q':
            break;
        elif x == 'V':
            show_data()
            repeat = input("Would you like to do anything else (Y/N)?\n")
            if repeat == 'Y' or repeat == 'y': continue
            elif repeat == 'N' or repeat == 'n': break
        elif x == '+':
            m = input("Enter month: ")
            fn = input("Enter first name: ")
            ln = input("Enter last name: ")
            a = input("Enter amount: ")
            try:
                assert int(m) >= 1 and int(m) <= 12
            except AssertionError:
                print("Sorry, invalid month value, %s, entered" % m)
                continue
            add_rent_log(m, fn, ln, a)
            
    print("---session ended---")

run_rent_roll_manager() 
# show_databases()
# create_table()
# add_rent_log(7, "Camillo", "Alvarez", 1750.00)
# show_data()

Welcome to the BI Properties rent roll manager!
What would you like to do today?

	--> Enter 'V' to view rent roll
	--> Enter 'Q' to quit session
	--> Enter '+' to add rent log
 +
Enter month:  8
Enter first name:  Abinaya
Enter last name:  Damo
Enter amount:  1550
	--> Enter 'V' to view rent roll
	--> Enter 'Q' to quit session
	--> Enter '+' to add rent log
 V

[(7, 'Camillo', 'Alvarez', Decimal('1750.00')), (8, 'Abinaya', 'Damo', Decimal('1550.00'))]
[(7, 'Camillo', 'Alvarez', Decimal('1750.00')), (8, 'Abinaya', 'Damo', Decimal('1550.00'))]

Would you like to do anything else (Y/N)?
 N

---session ended---

### in a function that has to connect to a mysql database:
1. establish a connection to the database
2. manipulate the cursor to carry out desired function- can first store the cursor object in a python variable
3. implement the main part of the function as required
4. commit the changes using commit()
5. call close() on the cursor object and the connection instance

### mySQL commands:
- to select a table- SELECT * FROM "table_name";
    - \* means 'all'
- to rename a table- RENAME TABLE "table_name" TO "new_table_name";
- to delete (drop) a table- DROP TABLE "table_name";
- to alter a table (example)-
    ALTER TABLE "table_name"
    ADD "new_column_name" "DATATYPE";
- to alter a column name (example)-
    ALTER TABLE "table_name"
    RENAME COLUMN "column_name" TO "new_column_name";
- to alter a column datatype (example):
    ALTER TABLE "table_name"
    MODIFY COLUMN "column_name" "NEWDATATYPE";
- to alter column position (example)-
    ALTER TABLE "table_name"
    MODIFY "column_name" "DATATYPE"
    AFTER "another_column_name"; // if you want the column to be moved to the first position you can say just FIRST instead
- to drop a column-
    ALTER TABLE "table_name"
    DROP COLUMN "column_name";

- to insert a row
    INSERT INTO "table_name"
    VALUES(); // have to enter the row data in the parenthesis in the order of the column names

- to switch to a database in terminal- USE "db_name"

### Project Roadmap
1. Basic for retrieval
    - retrieve the first and last name columns
2. Complex retrieval
    - use indexing of first name or month to retrieve amount paid or other value
3. Basic user input handling
    - while loop with singular prompt and terminate case
5. Complex input handling

In [19]:
def create_connection():
    connection = mysql.connector.connect(host="localhost", user="root", password="#Diamond2004", database="rentroll") # we specify database name so that we can directly refer to a table and retrieve data from it
    return connection
    
def show_databases():
    mydb = create_connection()
    mycursor = mydb.cursor() # like a mouse cursor will point to a particular place
    mycursor.execute("show databases") # executed means the object is creater, but need to do next instruction to retrieve and display
    for dbs in mycursor:
        print(dbs)
    mydb.close()

def create_table():
    mydb = create_connection()
    cursor = mydb.cursor() # to store the cursor of mydb that is returned
    create_table_query = """
    CREATE TABLE rent_logs (
        month INT,
        first_name VARCHAR(50),
        last_name VARCHAR(50),
        amount_paid DECIMAL(5,2)
    )
    """
    cursor.execute(create_table_query)
    mydb.commit()
    cursor.close() 
    mydb.close()

def add_rent_log(month, first_name, last_name, amount_paid):
    mydb = create_connection()
    cursor = mydb.cursor()
    insert_row_query = """
    INSERT INTO rent_logs (month, first_name, last_name, amount_paid)
    VALUES(%s, %s, %s, %s);
    """
    cursor.execute(insert_row_query, (month, first_name, last_name, amount_paid))
    mydb.commit()
    cursor.close()
    mydb.close()

def alter_column():
    mydb = create_connection()
    cursor = mydb.cursor()
    alter_column_query = """
        ALTER TABLE rent_logs
        MODIFY COLUMN amount_paid DECIMAL(8, 2)
    """
    cursor.execute(alter_column_query)
    mydb.commit()
    cursor.close()
    mydb.close()

def show_columns():
    mydb = create_connection()
    cursor = mydb.cursor()
    cursor.execute("SELECT * FROM rent_logs")
    for columns in cursor:
        print(columns)
    cursor.close()
    mydb.close()

# show_databases()
# create_table()
# add_rent_log(7, "Camillo", "Alvarez", 1750.00)
# alter_column()
# show_columns()

Welcome to the BI Properties rent roll manager!
What would you like to do today?

	--> Enter 'V' to view rent roll
	--> Enter 'Q' to quit session
 V

('information_schema',)
('mysql',)
('performance_schema',)
('rentroll',)
('sys',)

Would you like to do anything else (Y/N)? N

---session ended---